.li-list {
	font-family: serif;
	font-weight: inherit;
	font-size: 20px;
	list-style: none;
}

.gettrained {
	font-family: serif;
	font-size: 22px;
}

.li-list2 {
	font-size: 20px;
	list-style: none;
}

.voc {
	font-size: 30px;
}

#gridview{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img{
	width: 400px;
	height: 250px;
	margin: 10px;
	transition: all 1s;
}


.test {
	font-family: serif;
	font-weight: inherit;
	font-size: 20px;
}

.pics {
	width: 300px;
	height: 250px;
}

.picture {
	width: 500px;
	height: 400px;
}
